<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HT-gameTitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,78}</string>
                <key>spriteSourceSize</key>
                <string>{244,78}</string>
                <key>textureRect</key>
                <string>{{0,64},{244,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-credits-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,36}</string>
                <key>spriteSourceSize</key>
                <string>{108,36}</string>
                <key>textureRect</key>
                <string>{{367,0},{108,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-credits-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,36}</string>
                <key>spriteSourceSize</key>
                <string>{108,36}</string>
                <key>textureRect</key>
                <string>{{475,0},{108,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-home-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{583,0},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-home-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{619,0},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-left-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{655,0},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-left-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{691,0},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-music-off-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{727,0},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-music-off-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{763,0},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-music-on-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{799,0},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-music-on-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{835,0},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-ok_rank-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,40}</string>
                <key>spriteSourceSize</key>
                <string>{64,40}</string>
                <key>textureRect</key>
                <string>{{1447,0},{64,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-ok_rank-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,40}</string>
                <key>spriteSourceSize</key>
                <string>{64,40}</string>
                <key>textureRect</key>
                <string>{{1511,0},{64,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-pause-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{303,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-pause-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{335,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-play-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{1575,0},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-play-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{1619,0},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-question-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{871,0},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-question-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{907,0},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-ranking-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,36}</string>
                <key>spriteSourceSize</key>
                <string>{108,36}</string>
                <key>textureRect</key>
                <string>{{943,0},{108,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-ranking-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,36}</string>
                <key>spriteSourceSize</key>
                <string>{108,36}</string>
                <key>textureRect</key>
                <string>{{1051,0},{108,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-retry-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{1159,0},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-retry-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{1195,0},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-right-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{1231,0},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-right-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{1267,0},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-sound-off-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{1303,0},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-sound-off-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{1339,0},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-sound-on-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{1375,0},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-sound-on-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{1411,0},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,25}</string>
                <key>spriteSourceSize</key>
                <string>{21,25}</string>
                <key>textureRect</key>
                <string>{{282,0},{21,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>credits.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,512}</string>
                <key>spriteSourceSize</key>
                <string>{384,512}</string>
                <key>textureRect</key>
                <string>{{754,64},{384,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,512}</string>
                <key>spriteSourceSize</key>
                <string>{384,512}</string>
                <key>textureRect</key>
                <string>{{1138,64},{384,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart-empty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,20}</string>
                <key>spriteSourceSize</key>
                <string>{21,20}</string>
                <key>textureRect</key>
                <string>{{219,0},{21,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart-full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,20}</string>
                <key>spriteSourceSize</key>
                <string>{21,20}</string>
                <key>textureRect</key>
                <string>{{240,0},{21,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart-golden.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,20}</string>
                <key>spriteSourceSize</key>
                <string>{21,20}</string>
                <key>textureRect</key>
                <string>{{261,0},{21,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>help-window.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,412}</string>
                <key>spriteSourceSize</key>
                <string>{273,412}</string>
                <key>textureRect</key>
                <string>{{481,64},{273,412}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>number-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,64}</string>
                <key>spriteSourceSize</key>
                <string>{35,64}</string>
                <key>textureRect</key>
                <string>{{1770,0},{35,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>number-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,61}</string>
                <key>spriteSourceSize</key>
                <string>{52,61}</string>
                <key>textureRect</key>
                <string>{{1663,0},{52,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>number-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,63}</string>
                <key>spriteSourceSize</key>
                <string>{55,63}</string>
                <key>textureRect</key>
                <string>{{1715,0},{55,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pause-window.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,141}</string>
                <key>spriteSourceSize</key>
                <string>{237,141}</string>
                <key>textureRect</key>
                <string>{{244,64},{237,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranking.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,512}</string>
                <key>spriteSourceSize</key>
                <string>{384,512}</string>
                <key>textureRect</key>
                <string>{{1522,64},{384,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>score1000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,7}</string>
                <key>spriteSourceSize</key>
                <string>{19,7}</string>
                <key>textureRect</key>
                <string>{{116,0},{19,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>score10k-alt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,7}</string>
                <key>spriteSourceSize</key>
                <string>{24,7}</string>
                <key>textureRect</key>
                <string>{{0,0},{24,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>score10k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,7}</string>
                <key>spriteSourceSize</key>
                <string>{24,7}</string>
                <key>textureRect</key>
                <string>{{24,0},{24,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>score200.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,7}</string>
                <key>spriteSourceSize</key>
                <string>{16,7}</string>
                <key>textureRect</key>
                <string>{{100,0},{16,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>score2000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,7}</string>
                <key>spriteSourceSize</key>
                <string>{21,7}</string>
                <key>textureRect</key>
                <string>{{135,0},{21,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>score3000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,7}</string>
                <key>spriteSourceSize</key>
                <string>{21,7}</string>
                <key>textureRect</key>
                <string>{{156,0},{21,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>score30k-alt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,7}</string>
                <key>spriteSourceSize</key>
                <string>{26,7}</string>
                <key>textureRect</key>
                <string>{{48,0},{26,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>score30k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,7}</string>
                <key>spriteSourceSize</key>
                <string>{26,7}</string>
                <key>textureRect</key>
                <string>{{74,0},{26,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>score5000-alt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,7}</string>
                <key>spriteSourceSize</key>
                <string>{21,7}</string>
                <key>textureRect</key>
                <string>{{177,0},{21,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>score5000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,7}</string>
                <key>spriteSourceSize</key>
                <string>{21,7}</string>
                <key>textureRect</key>
                <string>{{198,0},{21,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui-sprites.png</string>
            <key>size</key>
            <string>{1906,576}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cdfe9f284c8d4134cd58cf6915980dc3:7bc733b15390c7d8f6f7c39768de56ef:aa3095d4f1e45e9224c24e0faa9a1a71$</string>
            <key>textureFileName</key>
            <string>ui-sprites.png</string>
        </dict>
    </dict>
</plist>
